<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iodroid.locationtracking">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".services.TrackingService"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:exported="true"/>
    </application>

</manifest>